<div class="panel panel-default">
    <div class="panel-heading">
        <%= t '.title' %>
    </div>

    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= link_to edit_message_path(message) do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to message, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
                <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <br>
            <%= message.body %>
            <br>
        <% end %>
    </div>
</div>

<%= render 'form' %>
